<template name="userBrowserInformation">
<div class="row">
<div class="large-12 columns">
<h4>What we know about your browser using JavaScript</h4>   
<table class="browserInformation">
<tr><td>Application Name: <p><label id="applicationName"></label></p></td></tr>
<tr><td>Application Version: <p><label id="applicationVersion"></label></p></td></tr>
<tr><td>Application Platform: <p><label id="applicationPlatform"></label></p></td></tr>
<tr><td>User Agent: <p><label id="userAgent"></label></p></td></tr>
<tr><td>Java Enabled: <p><label id="javaEnabled"></label></p></td></tr>
<tr><td>Screen Width: <p><label id="screenWidth"></label></p></td></tr>
<tr><td>Screen Height: <p><label id="screenHeight"></label></p></td></tr>
<tr><td>Browser Language: <p><label id="browserLanguage"></label></p></td></tr>   
</table>
</div>
</div>
</template>